ion-header {
    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }




    .branch-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 1rem;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #7A7776;
            font-size: 14px;
        }
    }

    .logo {
        height: 40px;
        width: 40px;

        ion-img {
            width: 100%;
            height: 100%;
        }
    }
}