<ion-header class="ion-no-border ion-padding">
  <div class="toolbar">
    <div class="logo" routerLink="/menu" routerDirection="forward">
      <ion-img src="../../assets/icons/back.svg"></ion-img>
    </div>

    <div class="branch-modal" routerLink="/welcome" routerDirection="forward">
      <h2>الإشعارات</h2>

      <ion-modal>
        <ion-header>
          <ion-toolbar>
            <ion-title>Tilte</ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-modal>
    </div>
    <ion-img
      routerLink="/menu"
      src="../../assets/icons/slide_menue.svg"
    ></ion-img>
  </div>
</ion-header>

<ion-content> </ion-content>
